<div class="topSellingItem pointer">
  <img src=<%= image%> alt=<%= image%> />
  <h1><%= title%></h1>
  <p><%= details%></p>
  <div class="pricingAndBuying flex">
    <h5>Rs <%= price%></h5>
    <span class="bucket center flex">
      <h6>Add to bucket</h6>
    </span>
  </div>
</div>
